
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="hotel, bed and breakfast, accommodations, travel, motel">
<meta name="description" content="{{  g.hotelname   }}">
<meta name="author" content="Saqib">
<title>{{ g.hotelname }} - Home</title>

<!-- Favicons-->
<link rel="shortcut icon" href="{{ url_for('.static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon" href="{{ url_for('.static', filename='img/apple-touch-icon-57x57-precomposed.png') }}">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{ url_for('.static', filename='img/apple-touch-icon-72x72-precomposed.png') }}">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{{ url_for('.static', filename='img/apple-touch-icon-114x114-precomposed.png') }}">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{{ url_for('.static', filename='img/apple-touch-icon-144x144-precomposed.png') }}">


<!-- BASE CSS -->
<link href="{{ url_for('.static', filename='css/base.css') }}" rel="stylesheet">

<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
