<header>
<div class="container">
    <div class="row">
        <div class="col--md-3 col-sm-3 col-xs-3">
            <a href="{{ url_for('.index') }}" id="logo">
            <img src="{{ url_for('.static', filename='img/logo.png') }}" width="190" height="23" alt="{{ g.hotelname }}" data-retina="true">
            </a>
        </div>
        <nav class="col--md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
        <ul id="lang_top">
            <li><a href="#" class="active">EN</a></li>
            <!-- <li><a href="#">FR</a></li>
            <li><a href="#">ES</a></li> -->
        </ul>
        <div class="main-menu">
            <div id="header_menu">
                 <img src="{{ url_for('.static', filename='img/logo_m.png') }}" width="141" height="40" alt="" data-retina="true">
            </div>
            <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
             <ul>
                <li><a href="{{ url_for('.index') }}">Home</a></li>
                <li><a href="{{ url_for('.rooms') }}">Rooms</a></li>

                <li><a href="{{ url_for('.about') }}">About</a></li>
                <li><a href="{{ url_for('.gallery') }}">Gallery</a></li>
                <li><a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x38e18fa6aaaaaaab%3A0xaef2e5cf3b5b5f3d!2m20!8m2!1m1!1e2!16m16!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e6!2m2!1m1!1e4!2m2!1m1!1e5!3m1!7e115!4shttps%3A%2F%2Fwww.booking.com%2Fhotel%2Fin%2Frose-petal-srinagar.html%3Faid%3D1213432%3Blabel%3Dseogooglelocal-link-imagesaow-hotel-2006679_grp-3_gendate-20171113%3Butm_source%3Dseogooglelocal%3Butm_medium%3Dphoto%3Butm_term%3Dhotel-2006679_photo-98364092&imagekey=!1e10!2sAF1QipMdNgQURNacGy88ckFw-SqSjOjfZ5D1fNqpm1kX&activetab=panorama" target="_blank">Google 360</a></li>



                <!-- <li><a href="{{ url_for('.faq') }}">FAQ</a></li> -->
                <li><a href="{{ url_for('.contactus') }}">Contact Us</a></li>
            </ul>
        </div><!-- End main-menu -->

        </nav>
    </div><!-- End row -->
</div><!-- End container -->
</header>
