{% extends 'admin/layout.html' %}

{% block body %}
{% from 'admin/includes/_formhelpers.html' import render_field %}

                        <div class="col-md-12">
                          {% include 'admin/includes/_message.html' %}
                                  <div class="card">
                                      <div class="card-header">
                                          <h4 class="card-title">{{ title }} </h4>

																					<hr>

																	     </div>
																			<!--  Row 1-->
                                      <div class="card-body">
                                        <table class="table table-hover">
                                          <thead>
                                          <th>Name</th>
                                          <th>Email</th>
                                          <th>Check In</th>
                                          <th>Check Out</th>
                                          <th>Adults</th>
                                          <th>Children</th>
                                          <th >Requested Room</th>
                                          <th >Requested Date</th>
                                          <!-- <th ></th> -->
                                          <th ></th>
                                          </thead>
                                          <tbody>
                                          {% for booking in bookings %}
                                          <tr>
                                            <td>{{ booking.name_booking }}</td>
                                            <td>{{ booking.email_booking }}</td>
                                            <td>{{ booking.check_in }}</td>
                                            <td>{{ booking.check_out }}</td>
                                            <td>{{ booking.adults }}  </td>
                                            <td>{{ booking.children }}  </td>
                                            <td>{{ booking.room_type }}  </td>
                                            <td>{{ booking.request_date }}  </td>

                                            <!-- <td><a href="#" class="btn btn-primary btn-fill pullright">Send</a></td> -->
                                            <td><a href="RemoveBooking/{{ booking._id }}" class="btn btn-danger btn-fill pullright">Remove Booking</a></td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>

                                      </div>
                                  </div>
                              </div>
                              <!--  Card 2 Facility-->
                              <!-- <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Actions </h4>

      																					<hr> -->
                                                <!-- <p><a href="{{ url_for('admin.add_room')}}" class="btn btn-warning btn-round btn-fill">Add New Room</a></p>

                                                <p><a href="{{ url_for('admin.add_facility')}}" class="btn btn-success btn-round btn-fill">Add New Facility</a></p>
                                                <p><a href="{{ url_for('admin.facility')}}" class="btn btn-info btn-round btn-fill">View Facilities</a></p>
                                                <p><a href="#" class="btn btn-default btn-round btn-fill">Add Room Price Plan</a></p> -->


      																	     <!-- </div>

                                        </div>
                                    </div> -->





{% endblock %}
