[FILEPATHS]
logFolder = tst

[WEB]
baseURL = txt
port = 5000
host = lvh.me
id = 5c013a9d2ccb025bd4d8295a


[STORE]
serviceUsername = app
servicePassword = 6QqdEn
serviceDB = t2k


[EMAIL_SETTING]
MAIL_SERVER =smtp.gmail.com
MAIL_PORT = 465
MAIL_USERNAME = noreply@travel2kashmir.com
MAIL_PASSWORD = mission@travel
MAIL_DEFAULT_SENDER = noreply@travel2kashmir.com
