[FILEPATHS]
logFolder = tst

[WEB]
baseURL = txt
port = 5000
host = lvh.me
id = 5c013a9d2ccb025bd4d8295a


[STORE]
serviceUsername = app
servicePassword = 6QqdEn
serviceDB = t2k
URI = mongodb://rosepetal:63xwBcsYbfxuJ0lR@rosepetal-shard-00-00-kinxq.mongodb.net:27017,rosepetal-shard-00-01-kinxq.mongodb.net:27017,rosepetal-shard-00-02-kinxq.mongodb.net:27017/t2k?ssl=true&replicaSet=rosepetal-shard-0&authSource=admin&retryWrites=true


[RECAPTCHA]
RECAPTCHA_SITE_KEY = 6Ldz-JQUAAAAAGHJao6tDzFtO2TG7P9XwuQw5bS2
RECAPTCHA_SITE_SECRET = 6Ldz-JQUAAAAABfOE8E1wJrBWRNZRxU-Lzg40hTO
RECAPTCHA_ENABLED = True
