<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    {% include 'site/includes/_head.html' %}

</head>

<body>

    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

     <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- End Preload -->

     <!-- Header ================================================== -->
    {% include 'site/includes/_header.html' %}
    <!-- End Header =============================================== -->

    <!-- SubHeader =============================================== -->
    <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="{{ url_for('.static', filename='img/sub_header_short_2.jpg') }}" data-natural-width="1400" data-natural-height="350">
        <div id="subheader">
            <h1>Gallery</h1>
    </div><!-- End subheader -->
    </section><!-- End section -->
    <!-- End SubHeader ============================================ -->

    <div class="container margin_60">
	<section class="grid">
            <div class="text-center">
                <h2>Here are some pictures ...</h2>

                </div>
				<div class="row">
					<ul class="magnific-gallery">
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_1.jpg') }}" alt="Bella Vista Speciality Restaurant">
								<figcaption>
								<div class="caption-content">
									<a href="{{ url_for('.static', filename='img/gallery/large/pic_1.jpg') }}" title="Bella Vista Speciality Restaurant" data-effect="mfp-move-horizontal">
										<i class="icon_set_1_icon-32"></i>
										<p>Bella Vista Speciality Restaurant</p>
								</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_2.jpg') }}" alt="Indoor Area">
								<figcaption>
								<div class="caption-content">
                                    	<a href="{{ url_for('.static', filename='img/gallery/large/pic_3.jpg') }}" title="Indoor Area" data-effect="mfp-move-horizontal">
                                        <i class="icon_set_1_icon-32"></i>
										<p>Indoor Area</p>
									   </a>
								</div>

								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_3.jpg') }}" alt="Conference Room">
								<figcaption>
								<div class="caption-content">
										<a href="{{ url_for('.static', filename='img/gallery/large/pic_3.jpg') }}" title="Conference Room" data-effect="mfp-move-horizontal">
										<i class="icon_set_1_icon-32"></i>
										<p>Conference Room</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_4.jpg') }}" alt="Honey Moon Bedroom">
								<figcaption>
								<div class="caption-content">
									<a href="{{ url_for('.static', filename='img/gallery/large/pic_4.jpg') }}" title="Honey Moon Bedroom">
										<i class="icon_set_1_icon-32"></i>
										<p>Honey Moon Bedroom</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>

        <div class="text-center">
            <!-- <h2>some more pictures ...</h2> -->
<hr>
            </div>
				<div class="row">
					<ul class="magnific-gallery">
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/large/pic_5.jpg') }}" alt="Beautiful Furniture">
								<figcaption>
								<div class="caption-content">
									<a href="{{ url_for('.static', filename='img/gallery/large/pic_5.jpg') }}" title="Beautiful Furniture">
										<i class="icon_set_1_icon-32"></i>
										<p>Beautiful Furniture</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_6.jpg') }}" alt="A different kind">
								<figcaption>
								<div class="caption-content">
									<a href="{{ url_for('.static', filename='img/gallery/large/pic_6.jpg') }}" title="A different kind">
										<i class="icon_set_1_icon-32"></i>
										<p>A different kind</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_7.jpg') }}" alt="Bella Vista Environment">
								<figcaption>
								<div class="caption-content">
									<a href="{{ url_for('.static', filename='img/gallery/large/pic_7.jpg') }}" title="Bella Vista Environment">
										<i class="icon_set_1_icon-32"></i>
										<p>Bella Vista</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_8.jpg') }}" alt="Our Shared Support">
								<figcaption>
								<div class="caption-content">
									<a href="{{ url_for('.static', filename='img/gallery/large/pic_8.jpg') }}" title="Our Shared Support">
										<i class="icon_set_1_icon-32"></i>
										<p>Our Shared Support</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
		</section>

        <!-- <section class="grid">
			<div class="container margin_60">
            <div class="text-center">
                <h2>Here some videos ...</h2>

                </div>
                	<div class="row">
					<ul class="magnific-gallery">
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_2.jpg') }}" alt="">
								<figcaption>
								<div class="caption-content">
									<a href="https://vimeo.com/45830194" class="video" title="Video Vimeo">
										<i class="icon_set_1_icon-32"></i>
										<p>Your caption</p>
								</a>
								</div>
								</figcaption>
							</figure>
						</li>

						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_3.jpg') }}" alt="">
								<figcaption>
								<div class="caption-content">
									 <a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video" title="Video Youtube">
										<i class="icon_set_1_icon-32"></i>
										<p>Your caption</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="{{ url_for('.static', filename='img/gallery/pic_4.jpg') }}" alt="">
								<figcaption>
								<div class="caption-content">
									<a href="https://vimeo.com/45830194" class="video" title="Video Vimeo">
										<i class="icon_set_1_icon-32"></i>
										<p>Your caption</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
			</div>
		</section> -->
      </div><!-- End container -->

     {% include 'site/includes/_footer.html' %}

<div id="toTop"></div><!-- Back to top button -->

<!-- COMMON SCRIPTS -->
{% include 'site/includes/_common_scripts.html' %}

</body>
</html>
