
<!-- Sequence-1  This is the starting point of this template -->

            <div class="sidebar" data-image="{{ url_for('admin.static', filename='img/sidebar-5.jpg') }}">
                <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
        -->
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="{{ url_for('admin.dashboard' )}}" class="simple-text">
                            <!-- <img src="https://bower.io/img/bower-logo.png" alt="TK" height="53" width="60"> -->
                            <img src="https://img.icons8.com/cotton/50/000000/white-cauliflower-1.png">
                        </a>code
                    </div>
                    <ul class="nav">
                        <li>
                            <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
                                <i class="nc-icon nc-support-17"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('admin.details') }}">
                                <i class="nc-icon nc-settings-gear-64"></i>
                                <p>Hotel Details</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('admin.rooms') }}">
                                <i class="nc-icon nc-puzzle-10"></i>
                                <p>Rooms & Facilities</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('admin.rooms') }}">
                                <i class="nc-icon nc-notes"></i>
                                <p>Policies</p>
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" href="{{ url_for('admin.rooms') }}">
                                <i class="nc-icon nc-settings-90"></i>
                                <p>Settings</p>
                            </a>
                        </li>

                        <li class="nav-item active active-pro">
                            <a class="nav-link active" href="#">
                                <i class="nc-icon nc-alien-33"></i>
                                <p>HANGUL SOFTWARES</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
